/* CSS design inspired by annie tran at https://codepen.io/nntrn/pen/WLrEwM */
html {
    width: 100%;
    height: 100%;
    text-shadow: 1px 1px slategray;
}
body {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 51%, rgba(2,0,36,1) 57%, rgba(0,203,255,1) 76%);
    text-align: center;
    color: white;
}
h3 {
    margin-top: 50px;
    transition: 1s;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.arena {
    display: flex;
    margin: auto;
    height: 300px;
    width: 600px;
}
[data-tower] {
    display: flex;
    transform: rotate(-90deg);
    align-items: center;
    width: 200px;
    height: 15px;
    position: relative;
    border-radius: 10px;
    background: darkslategray;
    box-shadow: 0 0 4px 2px black;
    top: 200px
}
.tower:hover {
    box-shadow: 0 0 2px 2px rgba(0,203,255,1);
}
[data-ring] {
	width: 40px;
	float: left;
}
[data-ring='1'] {
	height: 45px;
	background: rgb(2,0,36);
    background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 29%, rgba(0,212,255,1) 100%);
}
[data-ring='2'] {
	height: 70px;
	background: rgb(2,0,36);
    background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(121,14,9,1) 29%, rgba(255,255,0,1) 100%);
}
[data-ring='3'] {
	height: 95px;
	background: rgb(2,0,36);
    background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(9,121,54,1) 29%, rgba(146,255,0,1) 100%);
}
[data-ring='4'] {
	height: 120px;
	background: rgb(2,0,36);
    background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(119,9,121,1) 29%, rgba(255,0,2,1) 100%);
}
.ring {
    display: flex;
    border-radius: 20px;
    position: relative;
}
.ring:hover {
    box-shadow: 0 0 2px 2px rgba(0,203,255,1);
    transition: 0.5s
}
.selected {
    box-shadow: 0 0 2px 2px rgba(0,203,255,1);
}
[data-ring='5'] {
    display: none;
}
.winner {
    transform: rotate(90deg);
    background-color: rgb(0,0,0,0.5);
    padding: 100%;
    width: 100%;
}
.hidden {
    display: none;
}
button {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5 5 black;
}
button:hover {
    animation: 1s button-anim infinite;
}
h2, h3 {
}
.error {
    color: pink;
    text-shadow: 1px 1px red;
    animation: 1s flash infinite;
}
@keyframes flash {
    0% {
        color: pink;
    }
    50% {
        color: red;
    }
    100% {
        color: pink;
    }
}
@keyframes button-anim {
    0% {
        background-color: red;
    }
    50% {
        background-color: darkred;
    }
    100% {
        background-color: red;
    }
}