/* CSS design inspired by annie tran at https://codepen.io/nntrn/pen/WLrEwM */
body {
    background-color: darkslateblue;
    text-align: center;
    color: white;
}
h2 {
    transition: ease-in-out 3s;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.arena {
    display: flex;
    margin: auto;
    height: 300px;
    width: 600px;
}
[data-tower] {
    display: flex;
    transform: rotate(-90deg);
    align-items: center;
    width: 200px;
    height: 15px;
    position: relative;
    border-radius: 10px;
    background: darkslategray;
    box-shadow: 0 0 4px 2px black;
    top: 200px
}
[data-ring] {
	width: 40px;
	float: left;
}
[data-ring='1'] {
	height: 45px;
	background-color: yellow;
}
[data-ring='2'] {
	height: 70px;
	background-color: red;
}
[data-ring='3'] {
	height: 95px;
	background-color: green;
}
[data-ring='4'] {
	height: 120px;
	background-color: blue;
}
.ring {
    display: flex;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 0 2px 2px black;
}
/* .selected {
    left: 50px;
} */
[data-ring='5'] {
    display: none;
}